<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
       xmlns:ng="http://angularjs.org" ng-app="theApp">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>

    <div th:replace="fragments/header :: scriptHeader"></div>
    <script type="text/javascript" charset="utf-8" src="/script/utils.js"></script>
    <script type="text/javascript" charset="utf-8" src="/script/lib/lodash.underscore.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/script/Services/RadarInstanceService.js"></script>
    <script type="text/javascript" charset="utf-8" src="/script/Services/RadarItemService.js"></script>
    <script type="text/javascript" charset="utf-8" src="/script/Controllers/AddFromPreviousController.js"></script>

    <style type="text/css" media="screen">

        #fig {
            height: 1000px;
            width: 1200px;
        }

    </style>
</head>
<body ng-controller="AddFromPreviousController">
    <div th:replace="fragments/header :: uiHeader"></div>
    <br/><br/><br/>
    <input type="hidden" id="userId" name="userId" th:value="${userId}"/>
    <input type="hidden" id="radarInstanceId" name="radarInstanceId" th:value="${radarId}"/>
    <div>
        <div class="row">
            <div class="col-lg-4">
                <div class="dropdown pull-left" ng-init="getRadarsByUser(currentUserId)">
                    <label for="radarInstanceDropdown">Select Radar:</label>
                    <button class="btn btn-default dropdown-toggle" type="button" id="radarInstanceDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{sourceRadarInstance.radarName}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="radarInstanceDropdown">
                        <li ng-repeat="radarInstance in radarInstances"><a ng-click="radarInstanceDropdownSelected(currentUserId, radarInstance)">{{radarInstance.name}}</a></li>
                    </ul>
                    <button type="button" class="btn btn-primary" ng-click="addItemsToRadar(currentUserId, destinationRadarInstanceId)">Add</button>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contentPageTitle" ng-init="getDestinationRadarInstance()">
                    <label>Add Past Radar Items to {{ destinationRadarInstance.radarName }}</label>
                    <button type="button" class="btn btn-primary" ng-click="removeItemsFromRadar(currentUserId, destinationRadarInstanceId)">Remove</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="row" ng-repeat="currentQuadrant in sourceRadarInstance.quadrants">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <h3>{{currentQuadrant.quadrant}}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <table class="table table-striped">
                                    <tbody>
                                    <tr  ng-repeat="radarItem in currentQuadrant.items">
                                        <td><input type="checkbox" name="addToRadar" value="{{ radarItem.shouldBeAdded }}" ng-model="radarItem.shouldBeAdded" ng-show="!radarItem.isAdded" /></td>
                                        <td>{{radarItem.assessmentItem.radarRing.name}}</td>
                                        <td><a href="{{radarItem.assessmentItem.url">{{radarItem.name}}</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row" ng-repeat="currentQuadrant in destinationRadarInstance.quadrants">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <h3>{{currentQuadrant.quadrant}}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr  ng-repeat="radarItem in currentQuadrant.items">
                                            <td><input type="checkbox" name="removeFromRadar" value="{{ radarItem.shouldBeRemoved }}" ng-model="radarItem.shouldBeRemoved"/></td>
                                            <td>{{radarItem.assessmentItem.radarRing.name}}</td>
                                            <td><a href="{{radarItem.assessmentItem.url">{{radarItem.name}}</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>