<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
       xmlns:ng="http://angularjs.org" ng-app="theApp">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>

    <div th:replace="fragments/header :: scriptHeader"></div>
    <script type="text/javascript" charset="utf-8" src="/script/utils.js"></script>
    <script type="text/javascript" charset="utf-8" src="/script/lib/lodash.underscore.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/script/Services/TechnologyService.js"></script>
    <script type="text/javascript" charset="utf-8" src="/script/Services/RadarInstanceService.js"></script>
    <script type="text/javascript" charset="utf-8" src="/script/Controllers/RadarInstanceController.js"></script>

    <style type="text/css" media="screen">

        #fig {
            height: 1000px;
            width: 1200px;
        }

    </style>
</head>
<body ng-controller="RadarInstanceController">
    <div th:replace="fragments/header :: uiHeader"></div>
    <br/><br/><br/>
    <input type="hidden" id="userId" name="userId" th:value="${userId}"/>
    <div class="bodyContent" ng-init="getUserRadars(currentUserId)">
        <div class="contentPageTitle">
            <label>Manage Technology Assessments</label>
        </div>
        <p>Add an instance of your technology radar to track any changes since the last time you did this</p>
        <table class="table table-striped">
            <thead>
            <tr>
                <th width="20%">Name</th>
                <th width="10%">Published?</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="radarInstance in radarInstances">
                    <td>{{radarInstance.name}}</td>
                    <td><input type="checkbox" name="showOrdered" value="{{ radarInstance.isPublished }}" ng-model="radarInstance.isPublished" ng-change="publishRadar(currentUserId, radarInstance)"/></td>
                    <td>
                        <div>
                            <button type="button" class="btn btn-primary" ng-click="deleteRadarInstance(currentUserId, radarInstance.id)">Delete</button>
                        </div>
                    </td>
                </tr>
                <tr ng-form="newRadarForm">
                    <td><input type="text" name="newName" ng-model="newRadar.name" required="true" /></td>
                    <td><input type="button" class="btn btn-primary" value="Add Radar" ng-click="addRadar(currentUserId);" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>