<html  xmlns:th="http://www.thymeleaf.org" xmlns:ng="http://angularjs.org" ng-app="theApp">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <div th:replace="fragments/header :: scriptHeader"></div>
    <script type="text/javascript" charset="utf-8" src="/script/lib/lodash.underscore.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/script/Services/TechnologyService.js"></script>
    <script type="text/javascript" charset="utf-8" src="/script/Services/RadarInstanceService.js"></script>
    <script type="text/javascript" src="/script/Controllers/TechnologyController.js"></script>
</head>
<body ng-controller="TechnologyController">
    <div th:replace="fragments/header :: uiHeader"></div>
    <br/><br/><br/>
    <h2><a th:href="${targetTechnology.url}" th:text="${targetTechnology.name}"></a></h2>
    <p th:inline="text">[[${targetTechnology.radarCategory.name}]]</p>
    <div th:attr="ng-init='getTechnologyAssessments(' + ${targetTechnology.Id} + ')'">
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">Your Assessments</div>
                    <div class="panelBody">
                        <div ng-repeat="assessmentItem in assessmentList.userItems">
                            <div class="row">
                                <div class="col-lg-3">
                                    <h4><a href="/home/secureradar/{{assessmentItem.assessmentId}}">{{assessmentItem.assessmentName}}</a> - {{ assessmentItem.assessmentDate | date:'MM/dd/yyyy'}}</h4>
                                </div>
                                <div class="col-lg-3">
                                    <h4>{{ assessmentItem.assessmentRing.name}}</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <p>{{assessmentItem.assessmentDetails}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">Other's Assessments</div>
                    <div class="panelBody">
                        <div ng-repeat="assessmentItem in assessmentList.otherUsersItems">
                            <div class="row">
                                <div class="col-lg-3">
                                    <h4><a href="/home/secureradar/{{assessmentItem.assessmentId}}">{{assessmentItem.assessmentName}}</a> - {{ assessmentItem.assessmentDate | date:'MM/dd/yyyy'}}</h4>
                                </div>
                                <div class="col-lg-3">
                                    <h4>{{ assessmentItem.assessmentRing.name}}</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <p>{{assessmentItem.assessmentDetails}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>