<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
       xmlns:ng="http://angularjs.org" ng-app="theApp">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>

    <div th:replace="fragments/header :: scriptHeader"></div>
    <script type="text/javascript" charset="utf-8" src="/script/utils.js"></script>
    <script type="text/javascript" charset="utf-8" src="/script/lib/lodash.underscore.min.js"></script>
</head>
<body>
    <div th:replace="fragments/header :: uiHeader"></div>
    <br/><br/><br/>
    <div class="bodyContent">
        <div id="manageRadarsAppContent"></div>
    </div>
    <script type="text/javascript" charset="utf-8" src="/script/dist/ManageRadarsApp.js"></script>
</body>
</html>