<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<div class="section grey leftjustified"  th:fragment="uiFooter">
    <div class="footer">
        <div class="w-container">
            <div class="row">
                <div class="col-md-4">
                    <h5>About Your Technology Radar</h5>
                    <p>This site is a free utility to let you manage and share your Technology Radar.  Both current and historical.</p>
                </div>
                <div class="col-md-4">
                    <h5>useful links</h5>
                    <a href="http://pucksandprogramming.com" class="footer-link">PucksAndProgramming.com</a>
                    <a href="http://blog.alwaysmoveforward.com" class="footer-link">Blog</a>
                    <a href="http://technologyradar.pucksandprogramming.com" class="footer-link">Your Technology Radar</a>
                </div>
                <div class="col-md-4">
                    <h5>social</h5>
                    <div class="footer-link-wrapper w-clearfix">
                        <img src="/images/social-09.svg" width="20" alt="" class="info-icon"/>
                        <a href="https://www.linkedin.com/in/arthur-correa-00864a1" class="footer-link with-icon">Linked In</a>
                    </div>
                    <div class="footer-link-wrapper w-clearfix">
                        <img src="/images/social-18.svg" width="20" alt="" class="info-icon"/>
                        <a href="https://twitter.com/artieac" class="footer-link with-icon">Twitter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>