<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<div class="section grey leftjustified"  th:fragment="uiFooter">
    <div class="footer">
        <div class="w-container">
            <div class="row">
                <div class="col-md-4">
                    <h5>about PucksAndProgramming</h5>
                    <p>Pucks And Programming is the personal site of Arthur Correa.</p>
                </div>
                <div class="col-md-4">
                    <h5>useful links</h5>
                    <a href="#" class="footer-link">PucksAndProgramming.com</a>
                    <a href="http://blog.alwaysmoveforward.com" class="footer-link">Blog</a>
                    <a href="http://technologyradar.alwaysmoveforward.com" class="footer-link">Technology Radar</a>
                </div>
                <div class="col-md-4">
                    <h5>social</h5>
                    <div class="footer-link-wrapper w-clearfix">
                        <img src="/images/social-18.svg" width="20" alt="" class="info-icon"/>
                        <a href="https://twitter.com/artieac" class="footer-link with-icon">Twitter</a>
                    </div>
                    <div class="footer-link-wrapper w-clearfix">
                        <img src="/images/social-11.svg" width="20" alt="" class="info-icon"/>
                        <a href="https://www.pinterest.com/artieac/" class="footer-link with-icon">Pinterest</a>
                    </div>
                    <div class="footer-link-wrapper w-clearfix">
                        <img src="/images/social-07.svg" width="20" alt="" class="info-icon"/>
                        <a href="https://www.instagram.com/artiecorrea/" class="footer-link with-icon">Instagram</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>