<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <title>Technology Radar - AlwaysMoveForward.com</title>
    <meta name="title" content="AlwaysMoveForward.com - TechnologyRadar" />
    <meta name="author" content="Arthur Correa" />
    <meta name="copyright" content="Arthur Correa" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta content="Arthur, Correa, Arthur Correa, Computer, Java, Technology, Radar,  Technology Radar, MicroService, Service, SOA" name="keywords" />
    <meta name="description" content="A Technology Radar application built by Arthur Correa" />
    <head th:fragment="scriptHeader">
    <script type="text/javascript" src="/script/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/webjars/angularjs/1.4.1/angular.js"></script>
    <script type="text/javascript" src="/webjars/angularjs/1.4.1/angular-resource.js"></script>
    <script type="text/javascript" src="/script/Modules/ServiceDefinitionModule.js"></script>
    <script type="text/javascript" charset="utf-8" src="/script/lib/lodash.underscore.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/normalize.css" type="text/css"/>
    <link rel="stylesheet" href="/css/webflow.css" type="text/css"/>
    <link rel="stylesheet" href="/css/common.css" type="text/css"/>
    <link rel="stylesheet" href="/css/Navbar.css" type="text/css"/>
    <link rel="stylesheet" href="/css/Radar.css" type="text/css"/>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script src="https://www.googletagmanager.com/gtag/js?id=UA-114077550-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-114077550-1');
    </script>

</head>
<body>
<div class="navbar navbar-default navbar-fixed-top" th:fragment="uiHeader">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Technology Radar</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="active">
                <a sec:authorize="isAnonymous()" href="#" th:href="@{/}">Home</a>
                <a sec:authorize="isAuthenticated()" href="#" th:href="@{/home/secureradar}">Home</a>
            </li>
            <li><a href="#" th:href="@{/technology/search}">Technology Search</a></li>
            <li>
                <a href="#" th:href="@{/public/home/about}">About</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a href="#" th:href="@{/admin/index}">Admin</a>
            </li>
            <li>
                <a sec:authorize="isAnonymous()" href="/login" th:href="@{/login}">Sign in</a>
                <a sec:authorize="isAuthenticated()" href="https://alwaysmoveforward.auth0.com/v2/logout?returnTo=http%3A%2F%2Ftechnologyradarloadbalancer-468011247.us-east-2.elb.amazonaws.com">Logout</a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>