<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
       xmlns:ng="http://angularjs.org">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>

    <div th:replace="fragments/header :: scriptHeader"></div>
</head>
<body>
<div th:replace="fragments/header :: uiHeader"></div>
<br/><br/><br/>
<div class="container">
    <div class="section">
        <div class="copy center">
            <div class="section-title-group">
                <div class="section-subheading center">Something went wrong!</div>
            </div>
            <div class="row">
                <div class="w-col w-col-6"><a href="/login" class="w-button">Unfortunately something went wrong trying to process that request.  Please try again.</a></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>