.modal-backdrop,
.modal-backdrop.fade.in{
    opacity: .80 !important;
    filter: alpha(opacity=100) !important;
    background: #fff;
}

body{
}

.container{
    margin-left:20%;
}

.detailsSection{
    margin-top:20%;
    margin-bottom:20%;
}

.heroTitle{
    font-size: larger;
    font-weight: bold;
}

.detailsAction{
    horiz-align: center;
}

.graphicPanel{
    margin-top: 5%;
    margin-bottom:5%;
}

.graphic{
    background-image: url("/images/RadarBackground.PNG");
    background-repeat: no-repeat;
    background-size:contain;
    width:150%;
    height:150%;
}

.navbar-default {
    border-color: #5493E0;
    background-color: #5493E0;
    color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus
{
    color:  #FFFFFF;
    background-color: #5493E0;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus
{
    color: #5493E0;
    background-color: #FFFFFF;
}

.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus
{
    color: #5493E0;
    background-color: #5493E0;
}

textarea
{
    display:block;
    width: 100em;
    height:100%;
}

#technologyAssessmentDetailsPanel
{
    margin-left:5%;
    width:90%;
}