.panel-techradar{
  color: #3898EC !important;
  background-color: #fff !important;
  border-color: #3898EC !important;
}

.panel-heading-techradar{
    color: #fff;
    background-color: #3898EC;
    border-color: #3898EC;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}