<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
       xmlns:ng="http://angularjs.org">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>

    <div th:replace="fragments/header :: scriptHeader"></div>
</head>
<body>
<div th:replace="fragments/header :: uiHeader"></div>
<br/><br/><br/>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="heroTitle">
                About
            </div>
            <div class="copy">
                This site started off from <a href="http://nealford.com/memeagora/2013/05/28/build_your_own_technology_radar.html">Neil Ford's original post</a> about building your own technology radar.  I liked the idea, but
                I thought that workign directly with the Json data was a pain.  I also didn't like there there wasn't any historical data to work with to see how things changed over time.

                So I decided to take what he had started and back it with a data store for historical searching (much like Thoughtworks has on their site).

                The code for this is open sourced and can be found at <a href="https://github.com/artieac/technologyradar">GitHub</a> if you're interested in checking it out.
            </div>
        </div>
    </div>
</div>
</body>
</html>