<html  xmlns:th="http://www.thymeleaf.org"
	   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	   xmlns:ng="http://angularjs.org" ng-app="theApp">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>

	<div th:replace="fragments/header :: scriptHeader"></div>
</head>
<body class="bodyWithBackground">
	<div th:replace="fragments/header :: uiHeader"></div>
	<br/><br/><br/>
	<div class="container">
		<div class="row">
			<div class="col-md-6 detailsSection">
				<div class="heroTitle">
					Manage and share your own Technology Radar
				</div>
				<div th:if="${unauthorized==true}">
					You need to <a href="/login">login</a> to view that page.
				</div>
				<div class="copy">
					If you don't pay attention to changing technology you can quickly find yourself falling behind the industry.
					We all need to pay attention to changes and continuously evaluate those changes to see if industry changes help or hurt us.
					A technology radar lets you keep track of your assessments of the risks and rewards of various areas of technology, and by joining this site
					you can manage your own technology radar.
				</div>
				<div class="detailsAction">
					Curious?  Sign in with Auth0 to <a href="/login">try it out</a>
				</div>
			</div>
			<div class="col-md-6 graphicPanel">
				<div class="graphic"></div>

			</div>
		</div>
		<div class="row">

		</div>
	</div>
</body>
</html>