<html  xmlns:th="http://www.thymeleaf.org"
	   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	   xmlns:ng="http://angularjs.org" ng-app="theApp">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>

	<div th:replace="fragments/header :: scriptHeader"></div>
</head>
<body>
	<div th:replace="fragments/header :: uiHeader"></div>
	<div class="hero-section centered">
		<div data-ix="new-interaction" class="w-container">
			<h1 data-ix="fade-in-bottom-page-loads" class="hero-heading">This is Your Radar</h1>
			<div data-ix="fade-in-bottom-page-loads" class="hero-subheading">
				<p>A free tool for tracking how much you like or dislike different things.</p>
				<p>This site got it's start from <a href="https://www.thoughtworks.com/radar/byor">Thoughtworks Technology Radar</a> and I used it to track my technology assessments and usage.  However the more I used it the more I got ideas for other things I could categorize with this same concept.</p>
			</div>
			<div data-ix="fade-in-bottom-page-loads"><a href="/login" class="button">sign up</a><a href="https://www.thoughtworks.com/radar/byor" class="button all-caps" target="_blank">Learn more</a></div>
		</div>
	</div>
	<div class="section">
		<div class="w-container">
			<div class="section-title-group">
				<h2 class="section-heading centered">Why Is This Important?</h2>
				<div class="section-subheading center">If you don&#x27;t pay attention to changing technology you can quickly find yourself falling behind the industry. We all need to pay attention to changes and continuously evaluate those shifts to see if industry changes help or hurt us. <a href="https://www.thoughtworks.com">Thoughtworks</a> came up with a great concept, the Technology Radar to help keep track of this.  A technology radar lets you keep track of your assessments of the risks and rewards of various areas of technology, and by joining this site you can manage your own technology radar.</div>
			</div>
			<div class="w-row">
				<div class="w-col w-col-6">
					<div class="white-box">
						<img src="images/social-01-white.svg" alt="" class="grid-image"/>
						<h3>Have Multiple Versions</h3>
						<p>Your opinion of things can and should change over time. Keep track
							of how your interests and opinions change over time. Your radar
							history lets you and others see how your opinion has changed.
						</p>
					</div>
				</div>
				<div class="w-col w-col-6">
					<div class="white-box">
						<img src="images/social-25-white.svg" width="210" alt="" class="grid-image"/>
						<h3>Share your radars</h3>
						<p>Your radar can be kept private or published to be visible to
							anyone on the internet.  Sharing it lets others see what you're
							interested in, and how your opinions and how they have evolved.
						</p>
					</div>
				</div>
			</div>
			<br/>
			<div class="w-row">
				<div class="w-col w-col-6">
					<div class="white-box">
						<img src="images/feather2-17-white.svg" alt="" class="grid-image"/>
						<h3>See what others think</h3>
						<p>As other people enter in their own evaluations of things you&#x27;ll be able to see what they have learned about the same things you are you are interested in.</p>
					</div>
				</div>
				<div class="w-col w-col-6">
					<div class="white-box">
						<img src="images/social-25-white.svg" width="210" alt="" class="grid-image"/>
						<h3>Create and share radar types</h3>
						<p>This radar concept can be applied to other things also.  Use your imagination and create your own radars to share your opinions.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="w-container">
			<div class="section-title-group">
				<h2 class="section-heading centered">Curious?</h2>
				<div class="section-subheading center">Please check out my current Public Radars. or Sign in and Try creating your own</div>
			</div>
			<div class="w-row">
				<div class="w-col w-col-6"><a href="/public/home/user/1/radars" class="w-button" onclick="windows.location.href='/public/home/user/1/radars'">My Public Radar</a></div>
				<div class="w-col w-col-6"><a href="/login" class="w-button">Sign in</a></div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: uiFooter"></div>
</body>
</html>